{% include 'mainadminheader.html' %}
<form method="post">
	<table align="center" class="table" style="width: 1000px">
		<h3 align="center">View User</h3>
		<tr>
			<th>
				Name
			</th>
			<th>
				Place
			</th>
			<th>
				Phone
			</th>
			<th>
				Email
			</th>
		</tr>
		<tbody>
			{% for row in data['viewuser'] %}
			<tr>
				<td>{{row['Name']}}</td>
				<td>{{row['place']}}</td>
				<td>{{row['phone']}}</td>
				<td>{{row['email']}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
{% include 'footer.html' %}